.commit {
  height: 100px;
  background: #eff2f6;
}

.commitwrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.commitviewer {
  color-adjust: #18214d;
  font-size: 1.75rem;
  margin-right: 1rem;
}
.searchcommit {
  margin-left: 0.7rem;
}
.commitsearchbar {
  background: #dfe4ea;
  display: flex;
  align-items: center;
  padding: 0.9rem 0.8rem;
  border-radius: 5px;
  width: 40%;
}
.commitsearchicon {
  font-size: 1.4rem;
}
.commitsearchbar input {
  border: none;
  outline: 0;
  background: #dfe4ea;
  color: #b1b5c5;
  font-size: 1.1rem;
  margin-left: 0.4rem;
  cursor: pointer;
}
.commitbtn {
  padding: 0.95rem 0.8rem;
  background: #f3663f;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.commitfeather {
  color: #18214d;
}
.commitreponame {
  margin-top: 1.2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #18214d;
  font-weight: 400;
}
.commitlist {
  text-align: center;
  margin-top: 1rem;
}
.back {
  margin-right: 3rem;
  font-size: 2rem;
  cursor: pointer;
  color: #18214d;
}

.commitdata {
}
.commitlistdata {
  /* margin: 0;
  padding: 0; */
  list-style: none;
  padding: 1rem;
}
.commitlistitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 1.25rem 0rem; */
}
.commitlistinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-right: 0.625rem; */
}
.commitlistimg {
  margin-bottom: .9rem;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  border-radius: 50%;
  /* margin-right: 0.625rem; */
}
.commitlistname {
  font-size: 1rem;
  color: #18214d;
  font-weight: 700;
}
.commitmsg {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #18214d;
  margin-left: 2.5rem;
  width: 500px;
}
.commitdate {
  font-size: 0.8rem;
  color: #18214d;
  margin-right: 2rem;
}
.msg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
}
@media screen and (max-width: 768px) {
  .commitwrapper {
    flex-direction: column;
  }
  .commitsearchbar,
  .searchcommit {
    display: none;
  }
}
@media screen and (max-width: 830px) {
  .commitsearchbar input {
    font-size: 0.9rem;
  }
}
