.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper {
  background: #dfe4ea;
  display: flex;
  align-items: center;
  padding: 0.9rem 0.8rem;
  border-radius: 5px;
  width: 500px;
}

.search-wrapper input {
  border: none;
  outline: 0;
  background: #dfe4ea;
  color: #b1b5c5;
  font-size: 1.1rem;
  margin-left: 0.4rem;
  cursor: pointer;
  width: 500px;
}
.search-icon {
  font-weight: 400;
  margin-left: 0.8rem;
  font-size: 1.1rem;
  color: #29335c;
}
.search-commit {
  margin-left: 0.5rem;
}
.search-commit-btn {
  padding: 0.95rem 0.8rem;
  background: #f3663f;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.feather {
  color: #18214d;
  text-align: center;
}
.repos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.suggested-repo {
  margin-top: 1rem;
  color: #3e4462;
}
.search-list {
  margin-top: 1.5rem;
  display: flex;
}
.search-list-item {
  margin-left: 1.5rem;
  list-style-type: none;
  padding: 0.5rem 1rem;
  background: #29335c;
  color: #ffffff;
  border-radius: 8px;
  font-size: 0.9rem;
  margin: 0.625rem;
  font-weight: 500;
}
.commit-btn {
  padding: 0.95rem 0.8rem;
  background: #f3663f;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.link{
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 802px) {
  .search {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  .search-commit-btn {
    margin-top: 1.5rem;
    width: 290px;
  }
  .search-list {
    flex-direction: column;
  }
  .search-wrapper input {
    width: 300px;
    font-size: .8rem;
  }
  .search-icon {
    font-size: 1.5rem;
  }
  .search-wrapper {
    width: 300px;
  }
}

@media screen and (max-width: 330px) {
  .search-commit-btn {
    width: 200px;
  }
  .search-wrapper {
    width: 250px;
  }
  .search-wrapper input {
    width: 200px;
  }
  .suggested-repo{
    padding: .8rem 1rem;
  }
}
